@import '../helpers/transitions.scss';
@import 'general.scss';
@import 'helper.scss';
@import 'home.scss';
@import 'about-us.scss';
@import 'destinations.scss';
@import 'faqs.scss';
@import 'contact-us.scss';
@import 'login.scss';
@import 'privacy-policy.scss';
@import 'mobile.scss';

html {
    font-size: 14px;
}