/*
* Contact Us Frame
* cntct-frm : cntct frame
*/
.cntct-frm1 {
	position: relative;
	height: 100vh;
	width: 100%;
	margin-top: 80px;

	.frm-inpt {
		
		input,select,textarea {
			width: 100%;
		}
	}

}