/*
* Faqs Frame
* fqs-frm : faqs frame
*/
.fqs-frm1 {
	position: relative;
	margin-top: 80px;
	padding-top: 10vh;
    padding-bottom: 10vh;
	min-height: 100vh;

	.fqs-frm1__selection {
		border-radius: 10px;
		background: #f3f3f3;
		width: 28%;
		margin-left: 1.5%;
		margin-right: 1.5%;
		height: 200px;
		cursor: pointer;
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);

		&.active {
			background: $white;
		}
	}

	.fqs-frm1__selection-icon {
		max-width: 50px;
    	vertical-align: text-bottom;
	}

	.frm-description {
		* {
			display: -webkit-box;
	  		-webkit-line-clamp: 2;
	  		-webkit-box-orient: vertical;  
	  		overflow: hidden;	
		}
	}

	.fqs-frm1__cards {
		padding: 20px 0px;
		width: 85%;
		margin: auto;
		margin-bottom: 20px;
		background: $white;
		border-radius: 10px;
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);

		.frm-header {
			margin-bottom: 0px !important;
		}

		.fqs-frm1__cards-icon {
			max-width: 18px;
			margin: 5px;
			vertical-align: text-bottom;
			cursor: pointer;
		}
	}

	.fqs-frm1__cards-content {
		margin: 10px 0px;
		padding: 20px 0px;
		background: #f3f3f3;
		display: none;

		.frm-description {

		    ul {
		    	font-size: 1em;
		        width: 100%;
		        padding-left: 15px;
		    } 

		    ol {
		    	font-size: 1em;
		        width: 100%;
		        padding-left: 15px;

		        strong {
		        	font-size: 1em;
		        }
		    }

		    li {
		        display: list-item;
		        padding-bottom: 5px;
		        list-style-position: inside;
		    }

		    p {
		    	a { font-size: 0.9em; }
				p {	font-size: 1em; }
		    	strong {
			    	font-family: $font-family-work-sans-bold;
			    	font-size: 1em;

			    	u {
				    	font-family: $font-family-work-sans-bold;
				    	font-size: 1em;
			    	}
		    	}
		    }

		    ul li {
		    	li { font-size: 1em; }
		    }

		    b {
		    	font-family: $font-family-work-sans-bold;
		    	font-size: 1em;
		    }
		}
	}
}