/*
* Home Frame
* hm-frm : home frame
*/
.hm-frm2 {
	position: relative;
	height: 100vh;
	width: 100%;
	background: $green;

	.hm-frm2__tabbing {
		max-width: 500px;
		margin: auto;
		margin-bottom: 20px;

		.hm-frm2__tabbing-btn {
			position: relative;
			line-height: 1.5em;
			margin: 20px;
			color: $white;
			font-size: 1.2em;
			font-family: $font-family-d-din-regular;
			transition: all 300ms ease;

			&:hover {
				opacity: 0.5;
			}

			&.active{
				font-family: $font-family-d-din-bold;

				&:after {
					position: absolute;
					content: "";
					width: 70px;
					height: 4px;
					border-radius: 5px;
					left: 0px;
					right: 0px;
					bottom: -5px;
					margin: auto;
					background: $orange;

				}
			}
		}
	}

	.hm-frm2__tabbing-content {
		max-width: 700px;
		margin: auto;
	}
}

.hm-frm3 {
	position: relative;
	height: 100vh;
	width: 100%;
	background: $gray;

	.hm-frm3__img {
	    width: auto;
	    height: 250px;
	}
}

.hm-frm4 {
	position: relative;
	height: 100vh;
	width: 100%;
	background: $maroon;

	.hm-frm4__img {
		width: auto;
		height: 400px;
	}

}
.hm-frm6 {
	position: relative;
	height: 100vh;
	width: 100%;

	.frm-inpt {
		
		input,select,textarea {
			width: 100%;
		}
	}

	.frm-bckgrnd {
		opacity: 0.2;
	}
}