.mbl-hdr-frm__nav-holder,
.mbl-hdr-frm__nav-links-holder {
	display: none;
}


@media screen and (max-width: 1024px) {

	body {
		&.overflow-hidden {
			overflow: auto !important;
		}
	}

	/*
	* Header Frame
	* hdr-frm : header frame
	*/
	.hdr-frm {
		background: $white;
	}

	.hdr-frm__nav-logo {
	    height: 45px !important;	
	}


	/*
	* Mobile Header Frame
	* mbl-hdr-frm : mobile header frame
	*/
	.mbl-hdr-frm__nav-col {
		display: none;
	}

	.mbl-hdr-frm__nav-holder {
		position: absolute;
		display: inline-block;
		right: -10px;
		top: 0px;
		bottom: 0px;
		margin: auto;
		padding: 10px;
		cursor: pointer;

		.mbl-hdr-frm__nav {
			position: relative;
			width: 20px;
			border: 2px solid $gray;
			border-radius: 5px;

			&:before {
				position: absolute;
				content: "";
				right: -2px;
				top: -9px;
				width: 25px;
				border: 2px solid $gray;
				border-radius: 5px;
			}

			&:after {
				position: absolute;
				content: "";
				right: -2px;
				top: 5px;
				width: 25px;
				border: 2px solid $gray;
				border-radius: 5px;
			}
		}
	}

	.mbl-hdr-frm__nav-links-holder {
		display: block;
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100vh;
		z-index: 9999;
		background: $white;
		opacity: 0;
		transition: all 500ms ease;
		transform: translateX(100%);

		&.show {
			opacity: 1;
			transform: translateX(0%);
		}

		.mbl-hdr-frm__link-holder-btn {
			position: absolute;
			top: 30px;
			right: -15px;
			width: auto;
			height: 20px;
			margin: 15px;
			cursor: pointer;
		}

		.mbl-hdr-frm__nav-logo {
			width: auto;
			height: 50px;
			margin-bottom: 40px;
		}

		.mbl-hdr-frm__nav-link {
			position: relative;
			display: block;
			text-transform: uppercase;
			text-decoration: none;
			color: $black;
			cursor: pointer;
			margin: 20px 0px;
			font-size: 1.1em;
			transition: all 300ms ease;
		}
	}

	/*
	* Footer Frame
	* ftr-frm : footer frame
	*/

	.frm-cntnr__nav-col {

		&.width--33 {
			width: 100%;
			text-align: center;
		}

		.frm-cntnr__nav-logo {
			margin-bottom: 20px;
		}
	}

	/*
	* Typography
	* frm : frame
	*/
	.frm-title {
		font-size: 2.5em;
	}
	 
	.frm-header,
	.frm-description {

		* {
			font-size: 1em !important;
		}
	}

	/*
	* Frame Button
	* frm-btn : frame button
	*/
	.frm-btn {
		font-size: 1em;
		min-width: 170px;
	}

	/*
	* Home Frame
	* hm-frm : home frame
	*/
	.hm-frm2,
	.hm-frm3,
	.hm-frm4,
	.hm-frm6 {
	    height: auto !important;
	    padding: 10vh 0vh;
	}

	.hm-frm2__tabbing-btn {
		font-size: 1em !important;
	}

	.hm-frm2__tabbing-content {
	    height: auto;	
	}

	.hm-frm3,
	.hm-frm4 {

		.width--50 {
			width: 100%;
		}

		.align-l {
			text-align: center !important;
		}

		.hm-frm3__col-holder {
		    display: flex;
		    flex-direction: column-reverse;
		}
	}

	.hm-frm3__img,
	.hm-frm4__img {
		height: 200px !important;
		margin-bottom: 40px;
	}

	.hm-frm6 {
		.width--50,
		.width--95 {
			width: 100% !important
		}

		.frm-inpt {
			&:nth-child(3n) {
				margin-bottom: 0px;
			}
		}
	}

	/*
	* General Remodal
	* gnrl-rmdl : general remodal
	*/
	#gnrl-rmdl {
		&.custom-width {

			.gnrl-rmdl__close-btn {
			    top: 3%;	
			}

			.gnrl-rmdl__col {
				width: 100% !important;
			}

			.gnrl-rmdl__btn-holder {
				border-right: none !important;
				height: auto !important;
			}

			.custom-description {
				margin-top: 20px !important;
				height: 300px !important;
				padding-left: 0px !important
			}
		}
	}

	.remodal {
		padding: 25px;
	}
}