.mbl-hdr-frm__nav-holder,
.mbl-hdr-frm__nav-links-holder,
.mbl-abt-frm1 {
	display: none;
}


@media screen and (max-width: 1024px) {

	body {
		overflow-y: auto !important;

		&.overflow-hidden {
			overflow: auto !important;
		}
	}

	/*
	* Header Frame
	* hdr-frm : header frame
	*/
	.hdr-frm {
		background: $white;
	}

	.hdr-frm__nav-logo {
	    height: 45px !important;	
	}


	/*
	* Mobile Header Frame
	* mbl-hdr-frm : mobile header frame
	*/
	.mbl-hdr-frm__nav-col {
		display: none;
	}

	.mbl-hdr-frm__nav-holder {
		position: absolute;
		display: inline-block;
		right: -10px;
		top: 0px;
		bottom: 0px;
		margin: auto;
		padding: 10px;
		cursor: pointer;

		.mbl-hdr-frm__nav {
			position: relative;
			width: 20px;
			border: 2px solid $gray;
			border-radius: 5px;

			&:before {
				position: absolute;
				content: "";
				right: -2px;
				top: -9px;
				width: 25px;
				border: 2px solid $gray;
				border-radius: 5px;
			}

			&:after {
				position: absolute;
				content: "";
				right: -2px;
				top: 5px;
				width: 25px;
				border: 2px solid $gray;
				border-radius: 5px;
			}
		}
	}

	.mbl-hdr-frm__nav-links-holder {
		display: block;
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100vh;
		z-index: 9999;
		background: $white;
		opacity: 0;
		transition: all 500ms ease;
		transform: translateX(100%);

		&.show {
			opacity: 1;
			transform: translateX(0%);
		}

		.mbl-hdr-frm__link-holder-btn {
			position: absolute;
			top: 30px;
			right: -15px;
			width: auto;
			height: 20px;
			margin: 15px;
			cursor: pointer;
		}

		.mbl-hdr-frm__nav-logo {
			width: auto;
			height: 50px;
			margin-bottom: 40px;
		}

		.mbl-hdr-frm__nav-link {
			position: relative;
			display: block;
			text-transform: uppercase;
			text-decoration: none;
			color: $black;
			cursor: pointer;
			margin: 20px 0px;
			font-size: 1.1em;
			transition: all 300ms ease;
		}
	}

	/*
	* Footer Frame
	* ftr-frm : footer frame
	*/

	.frm-cntnr__nav-col {

		&.width--33 {
			width: 100%;
			text-align: center;
		}

		.frm-cntnr__nav-logo {
			margin-bottom: 20px;
		}
	}

	/*
	* Typography
	* frm : frame
	*/
	.frm-title { font-size: 2em; }

	.frm-title.small { font-size: 1.3em; }

	.frm-header { font-size: 1em !important; }
	 
	.frm-description {

		* {
			font-size: 1em !important;
		}
	}

	/*
	* Frame Button
	* frm-btn : frame button
	*/
	.frm-btn {
		font-size: 1em;
		min-width: 170px;
	}

	/*
	* Home Frame
	* hm-frm : home frame
	*/
	.hm-frm2,
	.hm-frm3,
	.hm-frm4,
	.hm-frm6 {
	    height: auto !important;
	    padding: 10vh 0vh;
	}

	.hm-frm2__tabbing-btn {
		font-size: 1em !important;
	}

	.hm-frm2__tabbing-content {
	    height: auto !important;	
	}

	.hm-frm3,
	.hm-frm4 {

		.width--50 {
			width: 100%;
		}

		.align-l {
			text-align: center !important;
		}

		.hm-frm3__col-holder {
		    display: flex;
		    flex-direction: column-reverse;
		}
	}

	.hm-frm3__img,
	.hm-frm4__img {
		height: 200px !important;
		margin-bottom: 40px;
	}

	.hm-frm6 {
		.width--50,
		.width--95 {
			width: 100% !important
		}

		.frm-inpt {
			&:nth-child(3n) {
				margin-bottom: 0px;
			}
		}
	}

	/*
	* About Frame
	* abt-frm : about frame
	*/
	.abt-frm1 {
		height: 50vh;
	}
	.abt-frm1__container { display: none; }
	.mbl-abt-frm1 { display: inline-block; }

	.abt-frm2__tabbing-btn {
		font-size: 1em !important;
	}

	.abt-frm2__tabbing-slider-items .frm-header {
		font-size: 1em !important;
	}
	.abt-frm2__tabbing-slider-items .abt-frm2__tabbing-slider-img {
		width: 130px !important;
		height: 130px !important;
	}

	.abt-frm2__tabbing-slider .slick-dots {
    	bottom: -10% !important;
	}

	.abt-frm3__item {
		width: 100% !important;
		height: 50vh !important;
	}

	.abt-frm3__item-title { opacity: 0 !important; }

	.abt-frm3 .abt-frm3__item-overlay,
	.abt-frm3__item-title-small,
	.abt-frm3__item-desc { opacity: 1 !important; }

	/*
	* Faqs Frame
	* fqs-frm : faqs frame
	*/
	.fqs-frm1__selection-icon {
		max-width: 40px;
	}
	.fqs-frm1__selection {
		width: 100% !important;
		margin-left: 0px !important;
		margin-right: 0px !important;
		margin-bottom: 20px !important;
	}
	.fqs-frm1 .fqs-frm1__cards {
		width: 100% !important;
	}
	.fqs-frm1__cards .fqs-frm1__cards-icon { margin: 0px; }
	.fqs-frm1 .fqs-frm1__cards .fqs-frm1__cards-icon:before { width: 10px !important; }
	.fqs-frm1 .fqs-frm1__cards .fqs-frm1__cards-icon:after { height: 10px !important; }
	.fqs-frm1__cards-header {
		.width--95 { width: 85% !important; }
		.width--5 { width: 15% !important; }
	}

	/*
	* Contact Us Frame
	* cntct-frm : cntct frame
	*/
	.cntct-frm1 {
	    height: auto;
	    padding-top: 15vh;
	    padding-bottom: 10vh;
	}
	.cntct-frm__animation-form,
	.cntct-frm__animation-form .width--50,
	.cntct-frm__animation-form .width--95 {
		width: 100%;
	}

	.cntct-frm__animation-form .frm-inpt:nth-child(3n) {
    	margin-bottom: 0px;
	}

	/*
	* General Remodal
	* gnrl-rmdl : general remodal
	*/
	#gnrl-rmdl {
		&.custom-width {

			.gnrl-rmdl__close-btn {
			    top: 3%;	
			}

			.gnrl-rmdl__col {
				width: 100% !important;
			}

			.gnrl-rmdl__btn-holder {
				border-right: none !important;
				height: auto !important;
			}

			.custom-description {
				margin-top: 20px !important;
				height: 300px !important;
				padding-left: 0px !important
			}
		}
	}

	.remodal {
		padding: 25px;
	}
	
	/** 
	 * Input, Textarea, Select
	 * frm-inpt : frame input
	 */
	.frm-inpt {
		input,select,textarea {
			min-width: 100%;
		}
	}
}