.mbl-hdr-frm__nav-holder {
	display: none;
}


@media screen and (max-width: 1024px) {

	body {
		&.overflow-hidden {
			overflow: auto !important;
		}
	}

	/*
	* Header Frame
	* hdr-frm : header frame
	*/
	.hdr-frm {
		background: $white;
	}

	.hdr-frm__nav-logo {
	    height: 35px !important;	
	}


	/*
	* Mobile Header Frame
	* mbl-hdr-frm : mobile header frame
	*/
	.mbl-hdr-frm__nav-col {
		display: none;
	}

	.mbl-hdr-frm__nav-holder {
		position: absolute;
		display: inline-block;
		right: -10px;
		top: 0px;
		bottom: 0px;
		margin: auto;
		padding: 10px;
		cursor: pointer;

		.mbl-hdr-frm__nav {
			position: relative;
			width: 20px;
			border: 2px solid $gray;
			border-radius: 5px;

			&:before {
				position: absolute;
				content: "";
				right: -2px;
				top: -9px;
				width: 25px;
				border: 2px solid $gray;
				border-radius: 5px;
			}

			&:after {
				position: absolute;
				content: "";
				right: -2px;
				top: 5px;
				width: 25px;
				border: 2px solid $gray;
				border-radius: 5px;
			}
		}
	}

	.mbl-hdr-frm__nav-links-holder {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100vh;
		z-index: 9999;
		background: $white;
		opacity: 0;
		transition: all 500ms ease;
		transform: translateX(100%);

		&.show {
			opacity: 1;
			transform: translateX(0%);
		}

		.mbl-hdr-frm__link-holder-btn {
			position: absolute;
			top: 30px;
			right: -15px;
			width: auto;
			height: 20px;
			margin: 15px;
			cursor: pointer;
		}

		.mbl-hdr-frm__nav-logo {
			width: auto;
			height: 50px;
			margin-bottom: 40px;
		}

		.mbl-hdr-frm__nav-link {
			position: relative;
			display: block;
			text-transform: uppercase;
			text-decoration: none;
			color: $black;
			cursor: pointer;
			margin: 20px 0px;
			font-size: 1.1em;
			transition: all 300ms ease;
		}
	}

	/*
	* Footer Frame
	* ftr-frm : footer frame
	*/

	.frm-cntnr__nav-col {

		&.width--33 {
			width: 100%;
			text-align: center;
		}

		.frm-cntnr__nav-logo {
			margin-bottom: 20px;
		}
	}
}