/*
* Privacy Frame
* prvcy-plcy-frm : privacy policy frame
*/
.prvcy-plcy-frm {
    padding-top: 20vh;
    padding-bottom: 10vh;


    .frm-description {
    	text-align: initial;

    	strong, b {
    		color: #2C4043;
    	}
    }
}