.primary__font-color {
    color: #65700b;
}

.overall__rates {
	font-size: 2em;
    font-weight: bold;
}

.total__rates {
	font-size: 1.3em;
    font-weight: bold;
}

.card-header__style {
	padding: 14px 14px 1px 14px;
    font-size: 1.5em;
}