.primary__font-color {
    color: #65700b;
}

.overall__rates {
	font-size: 2em;
    font-weight: bold;
}

.total__rates {
	font-size: 1.3em;
    font-weight: bold;
}

.card-header__style {
	padding: 14px 14px 1px 14px;
    font-size: 1.5em;
}

.primary__color {
    background-color: #65700B !important;
}

.nav-link.active {
	background-color: #65700B !important;
}

.dg-btn--ok {
	color: #ffffff;
    background-color: #0096D9;
    border-color: #0096D9;
}

.dg-btn--cancel {
    color: #0096D9;
    background-color: #ffffff;
    border-color: #0096D9;
}